*{
    margin: 0px;
    padding: 0px;
}
#flex{
    height: 100vh;
}
.containers{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    height: 90%;
}
.first-half{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-half {
    width: 30%;
}
.second-half img {
    width: 110%;
    border: 4px solid white;
    border-radius: 100px;
    display: block;
    margin: auto;
 }